.yith_wcwl_wishlist_footer {
    display: none !important;
}

.yith-wcwl-add-button .delete_item {
    border: none !important;
    background: none !important;
    color: #ff8989 !important;
    padding: 0 !important;
}

.yith-wcwl-add-button .separator {
    display: none !important;
}

.yith-wcwl-add-button .view-wishlist {
    display: none !important;
}

i.yith-wcwl-icon.fa.fa-heart {
    margin: 0 !important;
}

span.dashicons.dashicons-plus-alt {
    margin-bottom: 1rem !important;
    background: #bbffca !important;
    padding: .5rem !important;
    border-radius: 6px !important;
    color: #2ae152 !important;
}

span.dashicons.dashicons-list-view {
    margin-bottom: 1rem !important;
    background: #bbfff9 !important;
    padding: .5rem !important;
    border-radius: 6px !important;
    color: #19d7d7 !important;
}

.woo-wallet-sidebar ul li.card {
    background: #ffffff38 !important;
    border-radius: 10px !important;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
}

.woo-wallet-my-wallet-container .woo-wallet-sidebar {
    background: #f3f3f3 !important;
}

.woo-wallet-sidebar ul li p {
    color: #777 !important;
}

input#woo_wallet_balance_to_add {
    border: none !important;
    background: #f1f1f2 !important;
}

.woo-wallet-my-wallet-container {
    border: 2px dashed #cbcbcb !important;
}

p.woo-wallet-price {
    background: #ffeb59 !important;
    padding: .5rem !important;
    border-radius: 6px !important;
    color: #c7b007 !important;
}

.woo-wallet-transactions-items li {
    background: #f3f3f3 !important;
    padding: .5rem 1rem !important;
    border-radius: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
    margin-bottom: 1rem !important;
}

.woo-wallet-transaction-type-credit {
    background: #bbffca !important;
    padding: .5rem !important;
    border-radius: 6px !important;
    color: #2ae152 !important;
}

.svg-icon-warning {
    font-size: 24px;
    color: #ffc700;
}

.svg-icon-primary {
    font-size: 24px;
    color: #00a3ff;
}

.svg-icon-info {
    font-size: 24px;
    color: #7239ea;
}

.svg-icon-success {
    font-size: 24px;
    color: #50cd89;
}

.svg-icon-danger {
    font-size: 24px;
    color: #f1416c;
}


.ums-form-wrap-field {
    padding: unset !important;
}

.ums-content-login-form {
    padding: 0 1rem !important;
}

svg#ums-toggle-password {
    margin: .5rem 0 !important;
}

h2.woocommerce-column__title {
    margin-bottom: 1rem !important;
}

address p {
    margin: 1rem 0;
    padding-top: 1rem;
    border-top: 1px dashed #ccc;
}

address {
    padding: 1rem !important;
}




.completed_label {
    background: #c4ffb1 !important;
    color: #47b523;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 15px !important;
    padding: .5rem .8rem;
}

.hold_label {
    background: #fffbb1 !important;
    color: #c5bc0d;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 15px !important;
    padding: .5rem .8rem;
}

.processing_label {
    background: #b1d7ff !important;
    color: #2869af;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 15px !important;
    padding: .5rem .8rem;
}

.refunded_label {
    background: #ffb1b1 !important;
    color: #c71e1e;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 15px !important;
    padding: .5rem .8rem;
}

.woo-wallet-content-h3 {
    font-size: 14px !important;
}

.woo-wallet-sidebar ul li:last-child {
    display: none !important;
}

.wishlist-title-container {
    display: none !important;
}

.ums-edit-profile-tab-setting ul li:last-child {
    display: none !important;
}

.d-block.d-xl-flex.border.border-gray-300.border-dashed.rounded.p-6.mb-6.position-relative.bg-hover-light-dark.border-hover-primary {
    width: 96% !important;
}

a[href="https://css-tricks.com"] {}



/* @media (min-width: 992px){
    .header {
        flex-direction: column !important;
    }
} */

@media (min-width: 1281px) {
    div#kt_content_container {
        margin-top: 5rem;
    }
}



@media (min-width: 1181px) {
    .header-respons {
        height: 66px;
    }
}

.comment:nth-child(even) {
    background: #daf6ff !important;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}
.comment:nth-child(odd) {
    background: #ececec !important;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.wrap-input-number {
    display: flex;
    align-items: center;
}
.wrap-input-number button {
    border: none;
    background: none;
}

.wrap-input-number input {
    width: 4rem;
    border-radius: 10px;
    border: none;
    background: #eee;
    padding: .5rem;
    text-align: center;
    color: #666;
    font-family: 'IRANSansX' !important;
}

.wrap-input-number input:focus-visible {
    outline: none;
}