.yith_wcwl_wishlist_footer {
    display: none !important;
}

.yith-wcwl-add-button .delete_item {
    border: none !important;
    background: none !important;
    color: #ff8989 !important;
    padding: 0 !important;
}

.yith-wcwl-add-button .separator {
    display: none !important;
}

.yith-wcwl-add-button .view-wishlist {
    display: none !important;
}

i.yith-wcwl-icon.fa.fa-heart {
    margin: 0 !important;
}

span.dashicons.dashicons-plus-alt {
    margin-bottom: 1rem !important;
    background: #bbffca;
    padding: .5rem;
    border-radius: 6px;
    color: #2ae152;
}

span.dashicons.dashicons-list-view {
    margin-bottom: 1rem !important;
}